<?xml version="1.0" encoding="UTF-8"?>
<?xml-model 
    href="https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1500.sch"
    schematypens="http://purl.oclc.org/dsdl/schematron"?>

##
#parse( "pds_velocity_macros.txt" )##
#parse( "insight_velocity_macros.txt" )##
#parse( "insight_velocity_globals.txt" )##
##

#set($pid = $label.IDENTIFICATION.PRODUCT_ID[0].toLowerCase() )
#set($version_id = $pid.substring(34,35) )
#set($product_type = $pid.substring(19,22).toUpperCase() )

<Product_Browse xmlns="http://pds.nasa.gov/pds4/pds/v1" xmlns:pds="http://pds.nasa.gov/pds4/pds/v1"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://pds.nasa.gov/pds4/pds/v1 https://pds.nasa.gov/pds4/pds/v1/PDS4_PDS_1500.xsd">  
  <Identification_Area>
    <logical_identifier>#generateLID( "BROWSE" $pid )</logical_identifier>
    <version_id>$version_id.0</version_id>
    <title>Insight $label.IDENTIFICATION.INSTRUMENT_NAME BROWSE product - $pid</title>
    <information_model_version>$MODEL_VERSION</information_model_version>
    <product_class>Product_Browse</product_class>
    <Modification_History>
      <Modification_Detail>
        <modification_date>$date.get("yyyy-MM-dd")</modification_date>
        <version_id>1.0</version_id>
        <description>Initial version</description>
      </Modification_Detail>
    </Modification_History>
  </Identification_Area>
  <Reference_List>
    <Internal_Reference>
      <lid_reference>#generateLID( $product_type $pid )</lid_reference>
      <reference_type>browse_to_data</reference_type>
      <comment>This is a reference to the full resolution data file corresponding to this browse
        image.</comment>
    </Internal_Reference>
  </Reference_List>
  <File_Area_Browse>
    <File>
      <file_name>${label.IDENTIFICATION.PRODUCT_ID[0].toLowerCase()}.png</file_name>
      <local_identifier>BROWSE_FILE</local_identifier>
      <creation_date_time>$date.get("yyyy-MM-dd")</creation_date_time>
      <file_size unit="byte">@FILE_SIZE@</file_size>
      <md5_checksum>@CHECKSUM@</md5_checksum>
    </File>
    <Encoded_Image>
      <local_identifier>BROWSE_IMAGE</local_identifier>
      <offset unit="byte">0</offset>
      <encoding_standard_id>PNG</encoding_standard_id>
    </Encoded_Image>
  </File_Area_Browse>
</Product_Browse>
