/* This file contains *ALL* platform-specific information for the	*/
/* vimake system.  The companion imake_unix.tmpl file contains no tests	*/
/* based on platform type.						*/

/* Unknown: CRAY */

/* Sun4 must have lower optimization for the fortran string conversion	*/
/* routines, so the argument list doesn't get optimized out.		*/
/* Same for Solaris, and PPC_Linux (which can't have ANY optimization).	*/
/* What about other machines??						*/

#if MAC_MPW_ARCH
#define CSpecialFlags -m -mc68020 -mc68881 -elems881
#endif
#ifndef CSpecialFlags
#define CSpecialFlags
#endif

#if SUN4_ARCH && defined(FTN_STRING)
#define CDefaultFlags	-O1
#define CDebugFlags	-g -O1
#define CProfileFlags	-pg -O1
#else
#if (SUN_SOLARIS_ARCH + X86_SOLARIS_ARCH) && defined(FTN_STRING)
#define CDefaultFlags	-xO1
#define CDebugFlags	-g -xO1
#define CProfileFlags	-pg -xO1
#else
#if SGI_ARCH && defined(FTN_STRING)
#define CDefaultFlags	-O1
#define CDebugFlags	-g -O1
#define CProfileFlags	-pg -O1
#else
#if PPC_LINUX_ARCH && defined(FTN_STRING)
#define CDefaultFlags	-O0
#define CDebugFlags	-g -O0
#define CProfileFlags	-pg -O0
#else
#if MAC_MPW_ARCH
#define CDefaultFlags	CSpecialFlags
#define CDebugFlags	-sym on CSpecialFlags
#define CProfileFlags	CSpecialFlags
#else
#define CDefaultFlags	-O CSpecialFlags
#define CDebugFlags	-g CSpecialFlags
#define CProfileFlags	-pg -O CSpecialFlags
#endif
#endif
#endif
#endif
#endif

/* C++ uses same flags as C except for templates */
/* TMPL_INST_OPTS are options passed to the linker during template	*/
/* instantiation to prevent issuing warnings.				*/
/* TMPL_INST_POST_OPTS are stuck at the end of the line and are only	*/
/* needed for some brain-dead CC's which can't accept -o /dev/null!	*/

/* For version 3 of the SunOS/Solaris compiler, define CCCTemplateFlags	*/
/* to "-pta" and don't define NO_TEMPLATE_LINK.  In version 4.0.1 they	*/
/* moved the template instantiation from the link phase to the compile	*/
/* phase.  The -pto option forces static instantiation of templates so	*/
/* there is no repository to worry about - at the expense of duplicating*/
/* template code in every module that uses it.  Oh well.  There seems	*/
/* to be no other way to make the things work with compile-time		*/
/* instantiation.  Typical Sun tactic: why be compatible with everything*/
/* else when we can do it worse our own way.				*/

/* Version 5.3 of the SGI compiler also changed things.  For earlier	*/
/* versions, define CCCTemplateFlags to "-pta -pte.cc" and don't define	*/
/* NO_TEMPLATE_LINK.  I wish people would stop changing template	*/
/* instantiation mechanisms!!  The current -ptall may not be optimal	*/
/* but it works.							*/

/* Once again... version 5 of the Solaris compiler changed the flags	*/
/* yet again.  We still use static instantiation, but now instead of	*/
/* -pto we have to use -instances=static.  Jeez.			*/

#ifdef CCC_TEMPLATES

#if SUN_SOLARIS_ARCH || X86_SOLARIS_ARCH || SUN4_ARCH	/* New Sun compiler */
#define CCCTemplateFlags	/* okay, CC5.3 uses '-instances=extern' by default */
#define NO_TEMPLATE_LINK	/* turn off simulated link */
#else
#if HP700_ARCH
#define CCCTemplateFlags -pta
#else
#if SGI_ARCH
#define CCCTemplateFlags -ptall
#define NO_TEMPLATE_LINK
#else
#if AXP_UNIX_ARCH
#define CCCTemplateFlags -tlocal
#define NO_TEMPLATE_LINK
#else
#if ANY_LINUX_ARCH		/* Hallelujah!  Someone did it right! */
#define CCCTemplateFlags
#define NO_TEMPLATE_LINK
#else
#if ANY_OSX_ARCH		/* also uses g++, which seems to work */
#define CCCTemplateFlags
#define NO_TEMPLATE_LINK
#else
#define CCCTemplateFlags
#endif
#endif
#endif
#endif
#endif
#endif
#if SUN_SOLARIS_ARCH || X86_SOLARIS_ARCH /* for old Sun CC, not used for new */
#define TMPL_INST_OPTS -z nodefs -o /dev/null
#endif
#if SUN4_ARCH			/* for old Sun compiler, not used for new */
#define TMPL_INST_OPTS -assert nodefinitions -o /tmp/dummy.dev.null
#define TMPL_INST_POST_OPTS ; rm -f /tmp/dummy.dev.null
#endif
#if SGI_ARCH
#define TMPL_INST_OPTS -Wl,-U -w -o /tmp/dummy.dev.null
#define TMPL_INST_POST_OPTS ; rm -f /tmp/dummy.dev.null
#endif
#if HP700_ARCH
#define TMPL_INST_OPTS -Wl,-r +A -o /tmp/dummy.dev.null
#define TMPL_INST_POST_OPTS ; rm -f /tmp/dummy.dev.null
#endif
#ifndef TMPL_INST_OPTS
#define TMPL_INST_OPTS -o /dev/null
#endif
#ifndef TMPL_INST_POST_OPTS
#define TMPL_INST_POST_OPTS
#endif

#else				/* Templates not turned on */
#define CCCTemplateFlags
#endif

/*==========================================================*/
/*============ SECTION FOR SPECIAL C++ SYMBOLS =============*/
/*==========================================================*/

/*** List of Special Flag Symbols *****
==> CCCACESpecialFlags   : flags needed by ACE_wrappers.
==> CCCTAOSpecialFlags   : flags needed by TAO.
==> CCCWarningFlags      : special C++ compilation bug-fix flags.
==> CCCRWSpecialFlags    : special for RogueWave compilation flags.  This is 
==>                        needed for the buggy SGI version of RW tools.
==> CCCACE_EXTRAlib      : extra libraries for ACE wrappers.
==> CCCOMPFlags          : flags for OMP parallel compile
==>
***************************************/

/** SPECIAL FLAGS FOR CERTAIN LIBRARIES
==> These flags are need to compile certain libraries.
**/

/** IMPORTANT NOTE ON SUN INLINE
==> The Sun CC3.0 has a bug on handeling inline member functions.  To work
==> around this problem, we need to turn off the inline mechanism in the
==> compiler to prevent it from expending.  Sun Workshop 5.0 upgrade should
==> have this probem corrected.
==> The __EXTENSIONS__ is need to enclude symbols that are reentrant-safe,
==> but it was being elimated by the _POSIX_C_SOURCE symbol.
**/

#ifdef LIB_ACE_WRAPPERS
#if SUN_SOLARIS_ARCH
#define CCCACESpecialFlags -DSUN_CC_HAS_PVFC_BUG -mt -D__EXTENSIONS__ -D_REENTRANT -DACE_HAS_EXCEPTIONS -D__ACE_INLINE__
#define CCCACE_EXTRAlib -lsocket -ldl -lgen 
#endif
#if ANY_LINUX_ARCH
#define CCCACESpecialFlags -pipe -D_POSIX_THREADS -D_POSIX_THREAD_SAFE_FUNCTIONS -D_REENTRANT -DACE_HAS_AIO_CALLS -DACE_HAS_EXCEPTIONS -D__ACE_INLINE__
#define CCCACE_EXTRAlib -ldl -lpthread -lrt
#endif
#if ANY_OSX_ARCH
#define CCCACESpecialFlags -pipe -D_POSIX_THREADS -D_POSIX_THREAD_SAFE_FUNCTIONS -D_REENTRANT -DACE_HAS_EXCEPTIONS -D__ACE_INLINE__
#define CCCACE_EXTRAlib -ldl -lpthread
#endif
#if SGI_ARCH
#define CCCACESpecialFlags -exceptions -DACE_HAS_EXCEPTIONS -LANG:std -ptnone -no_prelink -O -OPT:Olimit=0 -DACE_IRIX_VERS=65 -D_SGI_MP_SOURCE -DACE_HAS_XT -D__ACE_INLINE__
#endif
/**  These flags are not needed for the older version of ACE toolkit -- T. Huang.
#if AXP_UNIX_ARCH
#define CCCACESpecialFlags -DDIGITAL_UNIX=0x40F -O0 -w0 -msg_disable 9 -nortti -DACE_HAS_EXCEPTIONS -DACE_NO_INLINE -pthread -hidden /
usr/lib/cmplrs/cxx/libcxxstd.a -non_hidden
#define CCCACE_EXTRAlib -ltli -lrt
#endif
**/
#endif  /** LIB_ACE_WRAPPERS **/

#ifndef CCCACESpecialFlags
#define CCCACESpecialFlags
#endif  /** default CCCACESpecialFlags **/

#ifndef CCCACE_EXTRAlib
#define CCCACE_EXTRAlib
#endif /** default CCCACE_EXTRAlib **/

#ifdef LIB_TAO				/* assumes LIB_ACE_WRAPPERS also on */
#define CCCTAOSpecialFlags
#endif  /** LIB_TAO **/

#ifndef CCCTAOSpecialFlags
#define CCCTAOSpecialFlags
#endif  /** default CCCTAOSpecialFlags **/


/** IMPORTANT NOTE ON ROGUEWAVE
==> SGI has a different verison of RogueWave library do to differences in
==> platform support.  This will have to be changed again after all platforms
==> have been upgraded.
**/
#if SGI_ARCH && defined (LIB_ROGUEWAVE)
#define CCCRWSpecialFlags -LANG:namespaces=off
#endif  /** LIB_ROGUEWAVE **/

/*
==> SUN Forte 6 Update 2 upgrade with RogueWave SourcePro upgrade from 
==> Tools.h++ v6.0.  This is an ANSI/ISO C++ upgrade.  The SourcePro 
==> distribution is built with native standard library support.
*/
#if SUN_SOLARIS_ARCH && defined (LIB_ROGUEWAVE)
#define CCCRWSpecialFlags -D_RWCONFIG=15s
#endif  /** LIB_ROGUEWAVE **/

#ifndef CCCRWSpecialFlags
#define CCCRWSpecialFlags
#endif  /** default CCCRWSpecialFlags **/


/* Definition for CCCWarningFlags					*/
/*    This symbol is defined to store all platform-specific C++		*/
/*    compiler work arounds						*/
/*									*/
/* The flag for the SGI has been added to disable this extrememly	*/
/* annoying and possibly wrong warning:					*/
/*                   : warning(3303):					*/
/*          type qualifier on return type is meaningless		*/
/*   virtual const char *const classname () { return ("BasicAddr");	*/
/*									*/
/* For Solaris, the flags are needed for Workshop 5 (and later?)	*/
/* compilers only and turns off the warning:				*/
/* String literal converted to char* in formal argument 1 in call to ...*/
/* which is highly annoying and generally useless.			*/
/*									*/
/* For Linux, the flag is because implicitly-declared functions are	*/
/* being reported as *errors*, not *warnings*.  This really should be	*/
/* -Wno-error-implicit-function-declaration (which would give a warning,*/
/* not an error), but that doesn't work.  Change this if it starts	*/
/* working in a future version of g++, because -Wno-implicit turns off	*/
/* *all* warnings for implicit definitions, which is a Bad Thing.	*/
/* We also allow offsetof because it's ubiquitous in both X-windows and	*/
/* the label API, and we turn off the warning for literal strings used	*/
/* as char*'s, because the codebase is not yet const-correct.  That	*/
/* should be done, eventually.						*/
/* Mac is the same as linux (it's g++, really).				*/

#if SUN_SOLARIS_ARCH
#define CCCWarningFlags -features=no%conststrings
#endif
#if SGI_ARCH
#define CCCWarningFlags -woff 3303
#endif
#if HP700_ARCH
#define CCCWarningFlags -ext -WC,-ext
#endif
#if ANY_LINUX_ARCH || ANY_OSX_ARCH
#define CCCWarningFlags -Wno-implicit -Wno-invalid-offsetof -Wno-write-strings
#endif

#ifndef CCCWarningFlags
#define CCCWarningFlags
#endif

/* Definition for CCCFriendInjectionFlags */
#if ANY_LINUX_ARCH
#define CCCFriendInjectionFlags -ffriend-injection
#endif

#ifndef CCCFriendInjectionFlags
#define CCCFriendInjectionFlags
#endif

#define CCCOMPFlags
#ifdef LIB_OMP
#if ANY_LINUX_ARCH || ANY_OSX_ARCH
#undef CCCOMPFlags
#define CCCOMPFlags -std=c++0x -fopenmp
#endif
#endif

#ifndef CCCSpecialFlags
#define CCCSpecialFlags CCCACESpecialFlags CCCTAOSpecialFlags \
 CCCWarningFlags CCCRWSpecialFlags CCCFriendInjectionFlags CCCOMPFlags
#endif  /** !CCCSpecialFlags **/

/*==========================================================*/
/*=============== END OF SPECIAL C++ SYMBOLS ===============*/
/*==========================================================*/


#define CCCDefaultFlags CDefaultFlags CCCTemplateFlags CCCSpecialFlags
#if SUN4_ARCH || SUN_SOLARIS_ARCH || X86_SOLARIS_ARCH /*-g0 gives smaller .o's*/
#define CCCDebugFlags -g0 CSpecialFlags CCCTemplateFlags CCCSpecialFlags
#else
#define CCCDebugFlags CDebugFlags CCCTemplateFlags CCCSpecialFlags
#endif
#define CCCProfileFlags CProfileFlags CCCTemplateFlags CCCSpecialFlags

#if HP700_ARCH		/* +e allows some non-standard features */
#define F77SpecialFlags	+e +U77
#endif
#if MAC_MPW_ARCH
#define F77SpecialFlags	-s -N11 -N8 -f -k
#endif
#if ANY_LINUX_ARCH || ANY_OSX_ARCH
#define F77SpecialFlags -fno-second-underscore -std=legacy -fno-range-check -ffixed-line-length-none
#endif
#if SUN_SOLARIS_ARCH
#define F77SpecialFlags -e
#endif
#ifndef F77SpecialFlags
#define F77SpecialFlags
#endif

#if MAC_MPW_ARCH
#define F77DefaultFlags	F77SpecialFlags
#define F77DebugFlags	-g F77SpecialFlags
#define F77ProfileFlags	F77SpecialFlags
#else
#if HP700_ARCH
#define F77DefaultFlags -O2 F77SpecialFlags
#define F77DebugFlags   -g F77SpecialFlags
#define F77ProfileFlags -pg -O2 F77SpecialFlags
#else
#define F77DefaultFlags	-O F77SpecialFlags
#define F77DebugFlags	-g F77SpecialFlags
#define F77ProfileFlags	-pg -O F77SpecialFlags
#endif
#endif

#if SUN3_ARCH || SUN4_ARCH
#define MakeHasConditionalMacros
#endif
#if MAC_MPW_ARCH
#define LinkSpecialFlags -model far -c 'MPS ' -t MPST -w
#endif
#if HP700_ARCH && !defined(SHARED_LIBRARY)
#define LinkSpecialFlags -Wl,+s	/* enable searching of SHLIB_PATH */
#endif
#ifndef LinkSpecialFlags
#define LinkSpecialFlags
#endif

#if MAC_MPW_ARCH
#define LinkDefaultFlags	LinkSpecialFlags
#define LinkDebugFlags		-sym on LinkSpecialFlags
#define LinkProfileFlags	LinkSpecialFlags
#else
#define LinkDefaultFlags	LinkSpecialFlags
#define LinkDebugFlags		LinkSpecialFlags
#define LinkProfileFlags	LinkSpecialFlags
#endif

#if SUN4_ARCH + SUN_SOLARIS_ARCH + X86_SOLARIS_ARCH
#define LinkStatic -Bstatic
#define LinkDynamic -Bdynamic
#endif
#if SGI_ARCH
#ifdef SHARED_LIBRARY		/* uses ld directly, so no -W!  Argh */
#define LinkStatic -B static
#define LinkDynamic -B dynamic
#else
#define LinkStatic -Wl,-B,static	/* This doesn't really work */
#define LinkDynamic -Wl,-B,dynamic	/* Must use /path/libname.a directly */
#endif
#endif
#if HP700_ARCH
#ifdef SHARED_LIBRARY		/* uses ld directly, so no -W!  Argh */
#define LinkStatic -a archive
#define LinkDynamic -a default
#else
#define LinkStatic -Wl,-a,archive
#define LinkDynamic -Wl,-a,default
#endif
#endif
#if AXP_UNIX_ARCH
#define LinkStatic -no_so
#define LinkDynamic -so_archive	/* -no_archive==.so only; usually we allow .a */
#endif
#if ANY_LINUX_ARCH
#define LinkStatic -Xlinker -Bstatic
#define LinkDynamic -Xlinker -Bdynamic	/* no gcc option for this??! */
#endif
#if ANY_OSX_ARCH	/* Mac does not seem to support these options (?) */
#define LinkStatic
#define LinkDynamic
#endif
#ifndef LinkStatic
#define LinkStatic
#endif
#ifndef LinkDynamic
#define LinkDynamic
#endif

/* Curses related defines */
#if SUN4_ARCH+SGI_ARCH+SUN_SOLARIS_ARCH+AXP_UNIX_ARCH+ANY_LINUX_ARCH+ANY_OSX_ARCH
#define CURSESlib -lcurses
#else /* VAX, HP, ALPHA don't need it */
#define CURSESlib 
#endif

#ifndef C_OPTIONS
#define C_OPTIONS
#endif
#ifndef CCC_OPTIONS
#define CCC_OPTIONS
#endif
#ifndef FORTRAN_OPTIONS
#define FORTRAN_OPTIONS
#endif
#ifndef LINK_OPTIONS
#define LINK_OPTIONS
#endif

/* Set up options for linking shared libraries */

#ifndef SHARED_MAJOR_VERSION
#define SHARED_MAJOR_VERSION 1
#endif
#ifndef SHARED_MINOR_VERSION
#define SHARED_MINOR_VERSION 1
#endif

/* We'd really like to define PROGRAM_SO PROGRAM.so.SHARED_MAJOR_VERSION.SHARED_MINOR_VERSION */
/* but that doesn't work for some reason I can't figure out.  MINOR doesn't */
/* get translated.  Sigh.						    */
#if SUN_SOLARIS_ARCH + X86_SOLARIS_ARCH
#define SharedLinkOpts -G
#define SharedCompileOpts -KPIC 
#define MAJ_V .SHARED_MAJOR_VERSION
#define MIN_V .SHARED_MINOR_VERSION
#define SO .so
#define SO_SOFTLINK_NEEDED
#define SONAME_OPT -h
#endif
#if SUN4_ARCH
#define SharedCompileOpts -PIC
#define MAJ_V .SHARED_MAJOR_VERSION
#define MIN_V .SHARED_MINOR_VERSION
#define SO .so
#define SO_SOFTLINK_NEEDED	/* needed for dynamically-loaded so's in JNI */
#endif
#if SGI_ARCH
#define SharedLinkOpts -shared
#define MAJ_V .SHARED_MAJOR_VERSION
#define MIN_V .SHARED_MINOR_VERSION
#define SO_SOFTLINK_NEEDED
#define SO .so
#define SONAME_OPT -soname
#endif
#if HP700_ARCH
#define SharedCompileOpts +z
#define SharedLinkOpts -b
#define MAJ_V
#define MIN_V
#define SO .sl 		/* versions don't work right on HP */
#define SO_SOFTLINK_NEEDED	/* needed for dynamically-loaded so's in JNI */
#endif
#if AXP_UNIX_ARCH
#define SharedLinkOpts -shared -expect_unresolved \*
#define MAJ_V .SHARED_MAJOR_VERSION
#define MIN_V .SHARED_MINOR_VERSION
#define SO .so
#define SO_SOFTLINK_NEEDED
#endif
#if ANY_LINUX_ARCH
/* Core runtime files (crt's) specific to C++ are needed by the linker to build C++ shared libraries properly */
#ifdef USES_C_PLUS_PLUS
#define SharedLinkOpts -shared $(GCClibshare)../../../crti.o $(GCClibshare)/crtbeginS.o $(GCClibshare)crtendS.o $(GCClibshare)../../../crtn.o
#else
#define SharedLinkOpts -shared
#endif
#define SharedCompileOpts -fPIC
#define MAJ_V .SHARED_MAJOR_VERSION
#define MIN_V .SHARED_MINOR_VERSION
#define SO .so
#define SO_SOFTLINK_NEEDED
#endif
#if ANY_OSX_ARCH
/* Linkable shared libs are different from run-time loadable shared libs(!). */
/* Go figure.  And linkable libs don't work very well because the ones in    */
/* VICAR need global variables, which apparently aren't supported by Darwin. */
/* So, we simply punt, and assume we're building run-time-loadable shared    */
/* libs, since those are used for Java/JNI.				     */
/* Also, mac's compiler is seriously broken when it comes to token pasting.  */
/* It insists on adding a space between elements in ".SHARED_MAJOR_VERSION", */
/* which comes out ". 1" instead of ".1".  And if we instead try	     */
/* ".##SHARED_MAJOR_VERSION, it gives an error about "pasting formed invalid */
/* preprocessing token", which is total bunk.  Thanks to isocpp.org faq for  */
/* the tip on the use of double indirect macro here, which works.  Gawd.     */
#define SharedLinkOpts -dynamic -bundle -lbundle1.o
#define SharedCompileOpts
#ifdef IMAKE_TOKEN_PASTING_HACK
#define PASTE_ME(a,b) a##b
#define PASTE_ME3(a,b,c) a##b##c
#define MAJ_V PASTE_ME(.,SHARED_MAJOR_VERSION)
#define MIN_V PASTE_ME3(.,SHARED_MINOR_VERSION,.0)
#else
#define MAJ_V .SHARED_MAJOR_VERSION
#define MIN_V .SHARED_MINOR_VERSION.0
#endif
#define SO .jnilib
#define SONAME_OPT -dylib_install_name /* not used now */
#define SO_SOFTLINK_NEEDED
#define REVERSE_SO_NAMES
#endif

#ifndef SharedCompileOpts
#define SharedCompileOpts
#endif
#ifndef SharedLinkOpts
#define SharedLinkOpts
#endif
#ifndef SharedLinker
#define SharedLinker ld LINK_OPTIONS $(LDFLAGS)
#endif
#ifndef SONAME_OPT
#define SONAME_OPT -o	/* Double -o doesn't hurt if this option not needed */
#endif

/* Set up whether or not the RTL has a shared library.  The .so is	*/
/* disabled on HP because under HP/UX 9.01 (at least), position-	*/
/* independent code is *required* to create a .so.  However, in some	*/
/* cases, PIC code hangs (apparently the function return gets messed up	*/
/* so a function returns to itself again, as far as I can figure).	*/
/* This is repeatable but very hard to isolate.  If and when PIC code	*/
/* gets fixed, the .so can be re-enabled for HP.  Change this		*/
/* definition, and also the one in librtl.com and librtlf.com to match.	*/

#if SUN4_ARCH || SUN_SOLARIS_ARCH || X86_SOLARIS_ARCH || SGI_ARCH || AXP_UNIX_ARCH || ANY_LINUX_ARCH
#define RTL_HAS_SO
#endif

/* SGI requires a -exports flag in front of EACH .a file if you want	*/
/* symbols from that .a to be exported from the .so!!  Yuck.  This	*/
/* means we have to put EXP in front of EVERY -l that's likely to be	*/
/* used to create a shared library.  If there is a LIB_*_NOSHR, we just	*/
/* need it on the NOSHR (since the .so (if any) isn't going to be used	*/
/* to create another .so, or if it is, the symbols don't need to be	*/
/* exported).  Note:  When to use EXP is a judgement call, more EXP's	*/
/* may have to be added later.  Sigh.					*/

#if defined(SHARED_LIBRARY) && SGI_ARCH
#define EXP -exports
#else
#define EXP
#endif

/* Set up macros for dealing with SYMBOL_LIST */

#if HP700_ARCH		/* No underscores on anything */
#define LD_SYMBOL(x) -u x \@@
#define LD_FSYMBOL(x) -u x \@@
#else
#if SUN4_ARCH		/* Leading underscores on everything, trailing on Ftn */
#define LD_SYMBOL(x) -u _/**/x \@@
#define LD_FSYMBOL(x) -u _/**/x/**/_ \@@
#else			/* Default case - trailing on Fortran only */
#define LD_SYMBOL(x) -u x \@@
#ifdef IMAKE_TOKEN_PASTING_HACK
#define LD_FSYMBOL(x) -u x##_ \@@
#else
#define LD_FSYMBOL(x) -u x/**/_ \@@
#endif
#endif
#endif

#ifdef USES_C			/* K&R C */
#if MAC_MPW_ARCH
CC = c
#define C_NOLINK
#define C_DEPENDS $(Default).c -o $(Default).o
#else
#if SUN_SOLARIS_ARCH
#define CC_MACRO cc -Xs -DSOLARIS
#endif
#if X86_SOLARIS_ARCH
#define CC_MACRO cc -Xs -DSOLARIS
#endif
#if SUN4_ARCH
#define CC_MACRO acc -Xs
#endif
#if SGI_ARCH
#define CC_MACRO cc -cckr
#endif
#if HP700_ARCH
#define CC_MACRO cc -Ac
#endif
#if AXP_UNIX_ARCH
#ifdef FTN_STRING
#define CC_MACRO cc -std	/* -std0 crashes the compiler w/FORSTR_BLOCK! */
#else
#define CC_MACRO cc -std0
#endif
#endif
#if PPC_LINUX_ARCH
#define CC_MACRO gcc
#endif
#if X86_64_LINX_ARCH + X86_LINUX_ARCH
#define CC_MACRO gcc44
#endif
#if AXP_LINUX_ARCH
#define CC_MACRO gcc -fno-builtin	/* -traditional */
#endif
#if ANY_OSX_ARCH
#define CC_MACRO gcc -m32 -Wno-return-type
#endif
#ifndef CC_MACRO
#define CC_MACRO cc
#endif
CC = CC_MACRO
#define C_NOLINK -c
#define C_DEPENDS $<
#endif		/* MAC_MPW */
#endif		/* USES_C */

#ifdef USES_ANSI_C		/* ANSI C */
#if MAC_MPW_ARCH		/* Don't really know how to do this */
CC = c
#define C_NOLINK
#define C_DEPENDS $(Default).c -o $(Default).o
#else
#if SUN_SOLARIS_ARCH+X86_SOLARIS_ARCH
#define CC_MACRO cc  -Xa -DSOLARIS
#endif
#if SUN4_ARCH
#define CC_MACRO acc -Xa
#endif
/* SGI and HP require us to be more permissive if LIB_NETWORK or	*/
/* LIB_NETWORK_NOSHR are defined, because the inet includes apparently	*/
/* aren't yet ANSI-compatible.  We do the same for LIB_MOTIF on the SGI	*/
/* because the compiler warnings are ridiculous.  Kerberos too.		*/
#if SGI_ARCH
#if defined(LIB_NETWORK) || defined(LIB_NETWORK_NOSHR) || defined(LIB_MOTIF) || defined(LIB_KERBEROS)
#define CC_MACRO cc -xansi
#else
#define CC_MACRO cc -ansi
#endif
#endif
#if HP700_ARCH	/* Why do they turn off most of their headers in ANSI mode? */
#if !defined(LIB_KERBEROS)
#define CC_MACRO cc -Ae
#else
#define CC_MACRO cc -Ae -Dhpux -Dhppa /* Kerberos needs these */
#endif
#endif
#if AXP_UNIX_ARCH
#define CC_MACRO cc -std
#endif
#if X86_64_LINX_ARCH + X86_LINUX_ARCH 
#define CC_MACRO gcc44
#else
#if ANY_LINUX_ARCH	/* anything but x86_64 and x86_linux, above */
#define CC_MACRO gcc
#endif
#endif
#if ANY_OSX_ARCH
#define CC_MACRO gcc -m32 -Wno-return-type
#endif
#ifndef CC_MACRO		/* Don't know what to do for other machines */
#define CC_MACRO cc
#endif
CC = CC_MACRO
#define C_NOLINK -c
#define C_DEPENDS $<
#endif		/* MAC_MPW */
#endif		/* USES_ANSI_C */

#ifdef USES_C_PLUS_PLUS
#if SUN_SOLARIS_ARCH+X86_SOLARIS_ARCH
#define CCC_MACRO CC -DSOLARIS 
#endif
#if AXP_UNIX_ARCH
#define CCC_MACRO cxx
#endif
#if ANY_LINUX_ARCH
#if X86_64_LINX_ARCH + X86_LINUX_ARCH
#define CCC_MACRO g++44
#else
#define CCC_MACRO g++
#endif
#endif
#if ANY_OSX_ARCH
#define CCC_MACRO g++ -m32
#endif
#ifndef CCC_MACRO
#define CCC_MACRO CC /* -DFUNCPROTO -DXTFUNCPROTO */
#endif
CCC = CCC_MACRO
#define CCC_NOLINK -c
#define CCC_DEPENDS $<
#endif		/* USES_C_PLUS_PLUS */

#ifdef USES_FORTRAN
#define F_NOLINK -c
#if ALLIANT_ARCH
#define FC_MACRO fortran
#endif
#if MAC_AUX_ARCH
#define FC_MACRO ftn
#endif
#if MAC_MPW_ARCH
#define FC_MACRO f77compiler
#endif
#if HP700_ARCH
#define FC_MACRO fort77
#endif
#if ANY_LINUX_ARCH
#if X86_64_LINX_ARCH + X86_LINUX_ARCH
#define FC_MACRO gfortran44
#else
#define FC_MACRO gfortran
#endif
#endif
#if ANY_OSX_ARCH
#define FC_MACRO gfortran -m32
#endif
#ifndef FC_MACRO
#define FC_MACRO f77
#endif
FC = FC_MACRO

#if MAC_MPW_ARCH
#define F_DEPENDS $(Default).f; Rename -y $(default).f.o $(default).o
#else
#define F_DEPENDS $<
#endif
#endif

SHELL = /bin/sh		/* builds assume Bourne shell (SGI needs this) */
CP = cp
CHMOD_X = chmod +x

#if MAC_AUX_ARCH
AR = $(V2UTIL)/ar.mac-aux
#else
#if MAC_MPW_ARCH
AR = lib -o
#else
/*
==> NOTE ON SUN FORTE 6 UPDATE 2 COMPILER
==> The new Sun C++ compiler (Forte 6 Update 2) uses external template 
==> instantiation, that creates a temporary external repository (SunWS_cache) 
==> to  store template info on the current build directory.  In order for 
==> these symbles to be included in user-defined C++ libraries, we 
==> need to use 'CC -xar' command instead of the portable 'ar r' command.
*/
#if SUN_SOLARIS_ARCH && defined (CCC_TEMPLATES)
AR = CC -xar -o
#else
AR = ar r
#endif
ARX = ar x
#endif
#endif

#if MAC_MPW_ARCH
RM = delete -y
LN = duplicate -y
#define EXISTS(file) `(files "file" ³ dev:null || set status 0)`
#define do
#define done end
#define fi end
#define then
#else
RM = rm -f
#if ANY_OSX_ARCH	/* avoid messing up "ln -s x X" due to case problems */
LN = ln -s
#else
LN = ln -fs
#endif
#define EXISTS(file) test -f file
#endif

#if SUN_SOLARIS_ARCH+X86_SOLARIS_ARCH+SGI_ARCH+TEK_ARCH+MAC_AUX_ARCH+HP700_ARCH+MAC_MPW_ARCH+AXP_UNIX_ARCH
#define NoRanlibAvail
RANLIB = /bin/true
#else
RANLIB = ranlib
#endif

#if TAE_VERSION == 4
RUN_TM  = $$TMIMAGE
MSGBLD  = $$TUTIL/msgbld
#else
RUN_TM  = taetm
MSGBLD  = $$TAEPDF/msgbld
#endif

#ifdef MAIN_LANG_C
#if MAC_MPW_ARCH
LINK.c = Link LINK_OPTIONS $(LDFLAGS)
#else
LINK.c = $(CC) LINK_OPTIONS $(CFLAGS) $(CPPFLAGS) $(LDFLAGS)
#endif
#endif
#if defined(MAIN_LANG_C_PLUS_PLUS) || (defined(SUBROUTINE) && defined(CCC_TEMPLATES))
LINK.ccc = $(CCC) LINK_OPTIONS $(CCCFLAGS) $(CPPFLAGS) $(LDFLAGS)
#endif
#ifdef MAIN_LANG_FORTRAN
#if MAC_MPW_ARCH
LINK.f = Link LINK_OPTIONS $(LDFLAGS)
#else
LINK.f = $(FC) LINK_OPTIONS $(FFLAGS) $(LDFLAGS)
#endif
#endif

#if MAC_AUX_ARCH && defined(MAIN_LANG_FORTRAN)	/* Hopefully temporary until  */
#define RTLlib $(V2OLB)/librtl.a		/* AUX FTN compiler learns to */
#define RTLlib_noshr $(V2OLB)/librtl.a
#define GUISUBlib $(V2OLB)/libguisub.a		/* handle -L and -l like everyone else!! */
#define P1SUBlib $(V2OLB)/libp1sub.a
#define P2SUBlib $(V2OLB)/libp2sub.a
#define P3SUBlib $(V2OLB)/libp3sub.a
#define HWSUBlib $(V2OLB)/libhwsub.a
#define MARSSUBlib $(V2OLB)/libmarssub.a
#define MATH77lib $(V2OLB)/libmath77.a
#define MATHlib /lib/libm.a
#define TERMlib /usr/lib/libcurses.a
#define NETlib ???				/* Need to find this out */
#else
#define RTLlib -lrtl		/* EXP added by tmpl based on share/noshare */
#if defined(SGI_ARCH)
#define RTLlib_noshr $(V2OLB)/librtl.a	/* SGI can't do -Bstatic properly!! */
#else
#define RTLlib_noshr LinkStatic -lrtl LinkDynamic
#endif
#define GUISUBlib EXP -lguisub
#define P1SUBlib EXP -lp1sub
#define P2SUBlib EXP -lp2sub
#define P3SUBlib EXP -lp3sub
#define HWSUBlib EXP -lhwsub
#define MARSSUBlib EXP -lmarssub
#define MATH77lib EXP -L$(MATH77LIB) -lmath77
#define MATHlib -lm
#define NETlib
#if MAC_AUX_ARCH
#define TERMlib -lcurses
#else
#if MAC_MPW_ARCH
#define TERMlib
#else
#if ANY_LINUX_ARCH
#define TERMlib -lncurses
#else
#if ANY_OSX_ARCH
#define TERMlib -lcurses
#else
#define TERMlib -ltermlib
#endif
#endif
#endif
#endif
#endif

#if MAC_MPW_ARCH
#ifdef USES_FORTRAN
#define MACFTNlib -lmacf
#else
#define MACFTNlib
#endif
#define SPECIALlib MACFTNlib -lmacc
#endif
#if SUN_SOLARIS_ARCH+X86_SOLARIS_ARCH
#define SPECIALlib -lsocket -lnsl
#endif
#if SUN4_ARCH && defined(USES_ANSI_C)
/* Fix acc problem where fflush() is multiply defined with static links (!) */
#define SPECIALlib -Bdynamic
#endif
/* On SGI, cuserid() fails under "nohup" if NIS pwd stuff isn't linked in */
#if SGI_ARCH
#define SPECIALlib -lsun
#endif

#ifndef SPECIALlib
#define SPECIALlib
#endif

/* The Sybase includes undefine and redefine NULL (which is a silly	*/
/* thing for them to do).  This generates a warning on the SGI:		*/
/* cfe: Warning 608: /usr/local/sybase/include/sybfront.h: 71: Undefined*/
/* the ANSI standard library defined macro NULL				*/
/* So, we turn off this warning.  This will also turn off any similar	*/
/* messages (i.e. undefining other standard macros won't be reported).	*/

#if SGI_ARCH
#define SYBASE_OPT -woff 608
#else
#define SYBASE_OPT
#endif

#if SUN_SOLARIS_ARCH
#ifdef LIB_THREAD
#define THRL -lthread
#else
#define THRL
#endif
#else
#define THRL
#endif

/* For the RogueWave library, Solaris uses a "_mt" version (thread-	*/
/* safe), but the other platforms don't have it.			*/
/* July 8, 2002 - update to use new RogueWave SourcePro library name    */
/*                for Sun.                                              */

#if SUN_SOLARIS_ARCH
#define ROGUElib -L$(ROGUEOLB) -ltls15s
#else

/************** IMPORTANT NOTE ON ROGUEWAVE **********************************/
/* SGI has a different verison of RogueWave library do to differences in     */
/* platform support.  This will have to be changed again after all platforms */
/* have been upgraded.                                                       */
/*****************************************************************************/
#if SGI_ARCH
#define ROGUElib -L$(ROGUEOLB) -ltls4s
#else
#define ROGUElib -L$(ROGUEOLB) -lrwtool
#endif   /* else !SGI_ARCH && !SUN_SOLARIS_ARCH */
#endif   /* else !SUN_SOLARIS_ARCH */


/****************** Sybase library setup**********************/
#if ANY_LINUX_ARCH
#define SybLinuxOpts -lnsl
#endif

#if SUN_SOLARIS_ARCH
#define SybSolarisOpts -lrt
#endif

#define SybOptions -lsybdb

#if defined (LIB_PTHREAD) || defined(LIB_ACE_WRAPPERS) || defined(LIB_MDMS_DBI)
#define SYBlibraries -L$(SYBASE)/$(SYBASE_OCS)/lib -lsybct_r -lsybcs_r -lsybintl_r -lsybtcl_r -lsybcomn_r SybOptions -lsybunic
#if ANY_LINUX_ARCH
#define SYBLinuxLibraries -lpthread SybLinuxOpts
#endif
#else
#define SYBlibraries -L$(SYBASE)/$(SYBASE_OCS)/lib -lsybct -lsybcs -lsybintl -lsybtcl -lsybunic -lsybcomn SybOptions -lsybunic
#if ANY_LINUX_ARCH
#define SYBLinuxLibraries SybLinuxOpts -lm
#endif
#endif

#if !defined(SYBLinuxLibraries)
#define SYBLinuxLibraries
#endif

#if !defined(SybSolarisOpts)
#define SybSolarisOpts
#endif

#define SYBlib LinkStatic SYBlibraries SYBLinuxLibraries LinkDynamic -ldl SybSolarisOpts
/*#define SYBlib SYBlibraries SYBLinuxLibraries -ldl*/

#if SUN_SOLARIS_ARCH
#define MPIdefs -I$(MPILIB)/include -I$(MPILIB)/include/mpi2c++ -DENABLE_MPI -DUSE_STDARG -DHAVE_STDLIB_H=1 -DHAVE_STRING_H=1 -DHAVE_UNISTD_H=1 -DHAVE_STDARG_H=1 -DUSE_STDARG=1 -DMALLOC_RET_VOID=1 -DHAVE_MPI_CPP
#define MPIlib -L$(MPILIB)/lib -lpmpich++ -lmpich -lrt -laio
#endif
#if ANY_LINUX_ARCH
#define MPIdefs -I$(MPILIB)/include -I$(MPILIB)/include/mpi2c++ -DENABLE_MPI -DUSE_STDARG -DHAVE_STDLIB_H=1 -DHAVE_STRING_H=1 -DHAVE_UNISTD_H=1 -DHAVE_STDARG_H=1 -DUSE_STDARG=1 -DMALLOC_RET_VOID=1 -DHAVE_MPI_CPP -fexceptions -Wno-implicit
#define MPIlib -L$(MPILIB)/lib -lpmpich++ -lmpich
#endif
#if ANY_OSX_ARCH
#define MPIdefs -I$(MPILIB)/include -I$(MPILIB)/include/mpi2c++ -DENABLE_MPI -DUSE_STDARG -DHAVE_STDLIB_H=1 -DHAVE_STRING_H=1 -DHAVE_UNISTD_H=1 -DHAVE_STDARG_H=1 -DUSE_STDARG=1 -DMALLOC_RET_VOID=1 -DHAVE_MPI_CPP -fexceptions
#define MPIlib -L$(MPILIB)/lib -lpmpich++ -lpmpich -lmpich
#endif
/* If a platform doesn't support MPI, then don't turn on support */
#ifndef MPIdefs
#define MPIdefs
#define MPIlib
#endif

#if HP700_ARCH
#ifdef LIB_XMU
#define Xinc -I/usr/include/X11R6 -I/usr/include/Motif1.2_R6 -I/usr/contrib/X11R6/include
#else
#define Xinc -I/usr/include/X11R6 -I/usr/include/Motif1.2_R6
#endif
#else
#if SUN_SOLARIS_ARCH
#define Xinc -I/usr/dt/include -I/usr/openwin/include
#else
#if X86_SOLARIS_ARCH
#define Xinc -I/usr/dt/include -I/usr/openwin/include
#else
#if SUN4_ARCH
#define Xinc -I/usr/X11R5/include
#else
#if AXP_UNIX_ARCH	/*!!!! FIX !!!!*/
#define Xinc -I$(V2TOP)/../external/xpm/v3.4f/$(VICCPU)
#else
#if ANY_LINUX_ARCH
#define Xinc -I/usr/X11R6/include
#else
#if ANY_OSX_ARCH
#define Xinc -I/usr/X11R6/include -I/usr/OpenMotif/include
#else
#define Xinc
#endif
#endif
#endif
#endif
#endif
#endif
#endif

#ifdef LIB_XPM
#if SGI_ARCH	/* SGI-supplied libXpm.so doesn't have "advanced level" I/F!! */
#define Xpmlib /usr/lib32/libXpm.a
#else
#if SUN4_ARCH || SUN_SOLARIS_ARCH || X86_SOLARIS_ARCH
#define Xpmlib -lXpm 
#else
#if AXP_UNIX_ARCH		/*!!!! FIX !!!!*/
#define Xpmlib -no_so -L$(V2TOP)/../external/xpm/v3.4f/$(VICCPU)/lib -lXpm -so_archive
#else
#define Xpmlib -lXpm
#endif
#endif
#endif
#else
#define Xpmlib
#endif

#ifdef LIB_XMU
#if HP700_ARCH
#define Xmulib -L/usr/contrib/X11R6/lib -lXmu
#else
#define Xmulib -lXmu
#endif
#else
#define Xmulib
#endif

#ifdef LIB_XEXT
#define Xextlib -lXext
#else
#define Xextlib
#endif

#if HP700_ARCH
#define Xlib -L/usr/lib/X11R6 -L/usr/lib/Motif1.2_R6 -lXm Xpmlib Xmulib -lXt Xextlib -lX11
#else
#if SGI_ARCH
#define Xlib -lXm Xpmlib Xmulib -lXt Xextlib -lX11 -lsun
#else
#if SUN4_ARCH
#define Xlib -L/usr/X11R5/lib -lXm Xpmlib Xmulib -Bstatic -lXt -Bdynamic Xextlib -lX11
#else
#if SUN_SOLARIS_ARCH
#define Xlib -L/usr/dt/lib -L/usr/openwin/lib -lXm Xpmlib Xmulib -lXt Xextlib -lX11 -lgen
#else
#if X86_SOLARIS_ARCH
#define Xlib -L/usr/dt/lib -L/usr/openwin/lib -lXm Xpmlib Xmulib -lXt Xextlib -lX11 -lgen
#else
#if ANY_LINUX_ARCH	/* What is Xp?  Always needs Xext! */
#define Xlib -L/usr/X11R6/lib -lXm -lXp Xpmlib Xmulib -lXt -lXext -lX11
#else
#if ANY_OSX_ARCH
#define Xlib -L/usr/X11R6/lib -L/usr/OpenMotif/lib -lXm -lXp Xpmlib Xmulib -lXt -lXext -lX11 -force_flat_namespace
#else
#define Xlib -lXm Xpmlib Xmulib -lXt Xextlib -lX11
#endif
#endif
#endif
#endif
#endif
#endif
#endif

#define XRTinc -I$(XRTHOME)/include

#define XRTGRlib -L$(XRTHOME)/lib/ -lxrtm -lpdsutil -lXpm 
#define XRT3Dlib $(XRTHOME)/lib/libxrt3d.a $(XRTHOME)/lib/libxrt3dcgm.a

#if SUN4_ARCH
#define CANDELAlib $(CANDELAHOME)/CmsLib20.a
#else
#define CANDELAlib
#endif

#if ANY_LINUX_ARCH || SUN_SOLARIS_ARCH || AXP_UNIX_ARCH
#define KERB_EXTRAlib -lresolv -lc
#else
#define KERB_EXTRAlib 
#endif

/* Sigh.  .dylib instead of .a .  So why doesn't Mac include .a's!!  */
/* Also, turn off deprecation warnings since they're rife in k4 includes. */

#if ANY_OSX_ARCH
#define KERBcomp -Wno-deprecated-declarations
#define KERBLib $(KERBEROSOLB)/libkrb5.dylib $(KERBEROSOLB)/libk5crypto.dylib $(KERBEROSOLB)/libdes425.dylib $(KERBEROSOLB)/libcom_err.dylib KERB_EXTRAlib
#define KERB4Lib $(KERBEROSOLB)/libkrb4.dylib $(KERBEROSOLB)/libdes425.dylib $(KERBEROSOLB)/libkrb5.dylib $(KERBEROSOLB)/libk5crypto.dylib $(KERBEROSOLB)/libcom_err.dylib
#define KERB4LibShort $(KERBEROSOLB)/libkrb4.dylib
#else
/* 64-bit linux doesn't have libcom_err.a, just .so */
#if X86_64_LINX_ARCH
#define KERBCOMERRlib -lcom_err
#else
#define KERBCOMERRlib $(KERBEROSOLB)/libcom_err.a
#endif
#define KERBcomp
#define KERBLib $(KERBEROSOLB)/libkrb5.a $(KERBEROSOLB)/libk5crypto.a $(KERBEROSOLB)/libdes425.a KERBCOMERRlib KERB_EXTRAlib
#define KERB4Lib $(KERBEROSOLB)/libkrb4.a $(KERBEROSOLB)/libdes425.a $(KERBEROSOLB)/libkrb5.a $(KERBEROSOLB)/libk5crypto.a KERBCOMERRlib
#define KERB4LibShort $(KERBEROSOLB)/libkrb4.a
#endif

#if SUN_SOLARIS_ARCH
#define XERCES_EXTRAlib -lgen -lc
#else
#define XERCES_EXTRAlib
#endif

/* Linux (or rather, gcc) is built in, so no -I/-L are needed */
#if SUN_SOLARIS_ARCH
#define EXPATinc -I$(EXPAT_INC)
#define EXPATlib -L$(EXPAT_LIB) -lexpat
#else
#define EXPATinc
#define EXPATlib -lexpat
#endif

/* OMP support for parallel processing.  May not exist on other platforms, */
/* in which case it will be silently ignored.				*/

#if ANY_LINUX_ARCH || ANY_OSX_ARCH
#define OMPlib -lgomp
#else
#define OMPlib
#endif

/* This is incredibly ugly.  If we use ld directly, rather than via gcc	*/
/* or g77, then we do NOT have easy access to the Fortran, C, and C++	*/
/* libraries.  Unfortuantely, the path appears to be incredibly ugly	*/
/* and is based on OS version and compiler version.  So this path must	*/
/* be updated whenever any of that changes.  Yuck and double-yuck.	*/

/* Okay, let's make it even worse.  Under RHE4 the Fortran libraries	*/
/* (g2c, frtbegin) seem to be in /usr/lib/gcc/ rather than		*/
/* /usr/lib/gcc-lib.  Does anyone actually *design* this crap??!	*/

#if defined SHARED_LIBRARY
#if X86_LINUX_ARCH
#undef linux		/* tacky, tacky.  Needed because -linux- is in path. */
#undef i386		/* even more tacky... */
GCClib = -L/usr/lib/gcc/i386-redhat-linux/4.1.2/
GCClibf = $(GCClib)
GCClibshare = /usr/lib/gcc/i386-redhat-linux/4.1.2/
#define linux 1
#endif
#if X86_64_LINX_ARCH
GCClib = -L/usr/lib/gcc/x86_64-redhat-linux6E/4.4.0/
GCClibf = $(GCClib)
GCClibshare = /usr/lib/gcc/x86_64-redhat-linux6E/4.4.0/
#endif
#if PPC_LINUX_ARCH
#undef linux		/* tacky, tacky.  Needed because -linux- is in path. */
GCClib = -L/usr/lib/gcc-lib/ppc-yellowdog-linux/2.95.3/
GCClibf = $(GCClib)
#define linux 1
#endif
#if AXP_LINUX_ARCH
#undef linux
GCClib = /* AXP_LINUX should go here, don't know the proper value */
GCClibf = $(GCClib)
#endif
#endif

#if SUN4_ARCH | SUN3_ARCH | SUN_SOLARIS_ARCH
/* Was "-lF77 -lU77 -lI77", then "-lF77", then "-lF77 -lM77", then	*/
/* "-lF77 -lM77 -lsunmath", now "-lfsu -lsunmath" with Sun Studio 12.	*/
/* Make up your bloody mind, Sun!!					*/
/* Some sites may need "-L/opt/SUNWspro/prod/lib" to find FTN libs.	*/
/* If ld is used as the link driver (i.e. SHARED_LIBRARY is defined),	*/
/* then we must add some other stuff in order to find the Fortran	*/
/* libraries (for Solaris only, naturally).				*/
/* Yet another change... Now (Sol 2.6/7-ish) the "canonical" location	*/
/* is /opt/SUNWspro/lib.  Hopefully THAT won't change for a while!	*/
#if defined(SHARED_LIBRARY)
#if SUN4_ARCH | SUN3_ARCH
#define FTNlib -L/usr/lang/lib -R/usr/lang/lib -lF77 -lM77 -lsunmath
#else
#define FTNlib -L/opt/SUNWspro/lib -R/opt/SUNWspro/lib -lf77compat -lfui -lfai -lfai2 -lfsumai -lfprodai -lfminlai -lfmaxlai -lfminvai -lfmaxvai -lfsu -lsunmath 
#endif
#else		/* not shared */
#define FTNlib -lf77compat -lfui -lfai -lfai2 -lfsumai -lfprodai -lfminlai -lfmaxlai -lfminvai -lfmaxvai -lfsu -lsunmath 
#endif
#endif		/* Sun */
#if X86_SOLARIS_ARCH
#define FTNlib -lfsu
#endif
#if SGI_ARCH
/* #define FTNlib -lF77 -lU77 -lI77 -lisam   */	/* isam is needed for SPICE */
/* NOBODY seems to be able to make up their minds about the Fortran library names!!! */
#define FTNlib -lftn
#endif
#if HP700_ARCH
#define FTNlib -lcl
#endif
#if AXP_UNIX_ARCH
#define FTNlib -lUfor -lfor -lFutil -lm -lots
#endif
#if ANY_LINUX_ARCH
/* This is really ugly too.  See the definition for GCClib above. */
/* g77 3.3 is broken such that if -lg2c is included, the automatic */
/* include of -lfrtbegin is turned off!!  So we turn it back on... */
/* but ONLY if the main language is fortran!.  Yuck.		   */
#ifdef MAIN_LANG_FORTRAN
#define FTNlib $(GCClibf) -lgfortran -lgfortranbegin
#else
#define FTNlib $(GCClibf) -lgfortran
#endif
#endif
#if ANY_OSX_ARCH
#ifdef MAIN_LANG_FORTRAN
#define FTNlib -lgfortran -lgfortranbegin
#else
#define FTNlib -lgfortran
#endif
#endif
#ifndef FTNlib
#define FTNlib -lF77		/* until we find out better */
#endif

/* Solaris seems to be the only one that needs a special C++ library	*/
/* when using ld directly.  Go figure.  Note:  for -compat=4, we use	*/
/* -lC; for -compat=5, we would use -lCrun.  This was /usr/lang/lib,	*/
/* now it's /opt/SUNWspro/lib; see comments above for Fortran libs.	*/
/* Okay, okay, Linux needs it too...					*/
#if SUN_SOLARIS_ARCH
#define CCClib -L/opt/SUNWspro/lib/CC4 -lC
#endif
#if ANY_LINUX_ARCH
#ifdef USES_C_PLUS_PLUS
#define CCClib $(GCClibf) -lgcc -lstdc++
#else
#define CCClib $(GCClib) -lgcc
#endif
#endif
#if ANY_OSX_ARCH
#define CCClib -lstdc++ -lcc_dynamic
#endif
#ifndef CCClib
#define CCClib
#endif

/******* Here's the readable version of the loop below:
        for inc in FTNINC_LIST; do \
          for dir in $$V2FTNINC; do \
            if EXISTS($$dir/$$inc.fin); \
            then \
              $(LN) $$dir/$$inc.fin $$inc; \
              break; \
            fi; \
          done; \
        done
  But mac imake gets confused with backslashes at the ends of lines so we
  have to put it all on one line... *******/

#ifdef USES_FORTRAN
#ifdef FTNINC_LIST			/* Special Fortran includes */
.f.o:
	-$(RM) VICMAIN_FOR
	-$(LN) $(V2INC)/vicmain_for.fin VICMAIN_FOR
	-$(RM) FTNINC_LIST	/* Make links for all needed Fortran includes */
	for inc in FTNINC_LIST; do for dir in $$V2FTNINC; do if EXISTS($$dir/$$inc.fin); then $(LN) $$dir/$$inc.fin $$inc; break; fi; done; done
	$(FC) $(FFLAGS) F_NOLINK FORTRAN_OPTIONS F_DEPENDS
	-$(RM) VICMAIN_FOR
	-$(RM) FTNINC_LIST
#else					/* No special Fortran includes */
.f.o:
	-$(RM) VICMAIN_FOR
	-$(LN) $(V2INC)/vicmain_for.fin VICMAIN_FOR
	$(FC) $(FFLAGS) F_NOLINK FORTRAN_OPTIONS F_DEPENDS
	-$(RM) VICMAIN_FOR
#endif
#endif

#if defined(USES_C) || defined(USES_ANSI_C)
.c.o:
	$(CC) $(CFLAGS) $(CPPFLAGS) C_NOLINK C_OPTIONS C_DEPENDS
#endif

#if defined(USES_C_PLUS_PLUS)
#if SGI_ARCH
.SUFFIXES: .o .cc .c		/* SGI doesn't seem to have .cc! */
#endif
#if AXP_UNIX_ARCH
.SUFFIXES: .cc			/* Neither does AXP_UNIX... go figure! */
#endif
/* See TAO_IDL compile below if you need to change this... */
.cc.o:
	$(CCC) $(CCCFLAGS) $(CPPFLAGS) CCC_NOLINK CCC_OPTIONS CCC_DEPENDS
#endif

#if ANY_OSX_ARCH
#define BINTRUE /usr/bin/true
#else
#define BINTRUE /bin/true
#endif

#if defined(USES_PDF)		/* no copy for PDF's */
.SUFFIXES: .pdf .script
.pdf.script:
	BINTRUE $<
#endif

#if defined(USES_SH)
.SUFFIXES: .sh .script
.sh.script:
	$(CP) $< $*
	$(CHMOD_X) $*
#endif

#if defined(USES_CSH)
.SUFFIXES: .csh .script
.csh.script:
	$(CP) $< $*
	$(CHMOD_X) $*
#endif

#if defined(USES_KSH)
.SUFFIXES: .ksh .script
.ksh.script:
	$(CP) $< $*
	$(CHMOD_X) $*
#endif

#if defined(USES_BASH)
.SUFFIXES: .bash .script
.bash.script:
	$(CP) $< $*
	$(CHMOD_X) $*
#endif

#if defined(USES_PERL)
.SUFFIXES: .perl .pl .script
.pl.script:
	$(CP) $< $*
	$(CHMOD_X) $*

.perl.script:
	$(CP) $< $*
	$(CHMOD_X) $*
#endif

#if defined(USES_PYTHON)
.SUFFIXES: .py .script
.py.script:
	$(CP) $< $*
	$(CHMOD_X) $*
#endif

#if defined(USES_TCL_TK)		/* no copy for TCL's */
.SUFFIXES: .tcl .script
.tcl.script:
	BINTRUE $<
	-echo "auto_mkindex . *.tcl" | tclsh
#endif

#if defined(USES_TAO_IDL)
.SUFFIXES: .idl .idlgen
#if SGI_ARCH			/* SGI uses different syntax for patterns... */
#define CCC_IDL_DEPENDS_C $(<:.idl=.C.cc)
#define CCC_IDL_DEPENDS_S $(<:.idl=.S.cc)
#else
#define CCC_IDL_DEPENDS_C $(<:%.idl=%.C.cc)
#define CCC_IDL_DEPENDS_S $(<:%.idl=%.S.cc)
#endif
.idl.idlgen:
	$(ACE_ROOT)/bin/tao_idl -hc .C.h -hs .S.h -hT .S_T.h -cs .C.cc -ss .S.cc -sT .S_T.cc -ci .C_I.h -si .S_I.h $<
	$(CCC) $(CCCFLAGS) $(CPPFLAGS) CCC_NOLINK CCC_OPTIONS CCC_IDL_DEPENDS_C
	$(CCC) $(CCCFLAGS) $(CPPFLAGS) CCC_NOLINK CCC_OPTIONS CCC_IDL_DEPENDS_S
#endif

/* Set up the callable Java libraries.  Used by apps *calling* Java	*/
/* (i.e. starting a VM).						*/
/* On Mac, libjava is a .jnilib instead of .dylib, so maybe it's loaded	*/
/* at runtime instead of being linked to.  This is UNTESTED!		*/

/*======================================================================*/
/* libjsig does not seem to be available for Mac.  Hopefully it's not	*/
/* needed...								*/
/* For some reason, x86-64-linx does not have libjvm in client (it	*/
/* doesn't even *have* a client/ dir!).  So we add server too just in	*/
/* case.  Shouldn't hurt anything if client actualy exists.		*/

#if MAC_OS_ARCH
#define CallableJavaLib -L$(V2CALLABLE_JAVA_LIB) -ljvm -lverify
#else
#define CallableJavaLib -L$(V2CALLABLE_JAVA_LIB)/client -L$(V2CALLABLE_JAVA_LIB) -L$(V2CALLABLE_JAVA_LIB)/server -ljsig -ljava -ljvm -lverify
#endif

